body{
    background-color: rgb(34, 32, 32);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cyan;
}
.nav-bar1{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    padding-right: 50px;
    color: rgb(34, 32, 32);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 20px;
}
.menu{
    display: none;
}
#nav-bar2{
    display: none;
}
.imagecontainer{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 40px;
    margin-top: 30px;
    
}
.namecontainer{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow-x: auto;
}
.pic{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url('images/vignesh\ G.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    
}
hr{
    width: 300px;
    opacity: .5;
    text-align: center;
   
}
.about{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
   
}
.aboutme{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cyan;
    text-align: center;
}
.abtcontent1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    padding:30px;
}

@media screen and (max-width:600px) {
   /*
    .nav-bar1{
    display: none;
   }*/
   #cross{
    display: none;
   }
   #navimg{
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   #nav-bar2,a{
    list-style-type: none;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
   }
   #cross{
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   .hidemenu{
    display: none;
   }
   .menu{
    display: block;
   }
}