body{
    background-color: rgb(34, 32, 32);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cyan;
}
.nav-bar1{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    padding-right: 50px;
    color: rgb(34, 32, 32);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 20px;
}
.menu{
    display: none;
}
#nav-bar2{
    display: none;
}
.imagecontainer{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 40px;
    margin-top: 30px; 
}
.namecontainer{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow-x: auto;
}
.pic{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url('images/my.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
hr{
    width: 300px;
    opacity: .5;
    text-align: center;   
}
#about{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;  
}
.aboutme{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cyan;
    text-align: center;
}
.abtcontent1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    padding:30px;
}
.table{
    border-collapse: collapse;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    
}
td,th{
    padding: 10px;
    border: 1px solid aliceblue;    
}
th{
    color: cyan;
}
tr{
    text-align: center;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.technical{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: cyan;
   
}
@media screen and (max-width:600px) {
   
   #cross{
    display: none;
   }
   #navimg{
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   .mobilenav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid cyan;
   }
   .mobilenav ul li{
    width: 100px;
    margin: 10px;
    list-style-type: none;
   }
   a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
   }
   a:hover{
    color: rgb(34, 32, 32);
    background-color: cyan;
    border-radius: 20px;

   }
   #cross{
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   .hidemenu{
    display: none;
   }
   .menu{
    display: block;
   }
   #about{
    overflow: auto;
   }
}